<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/dishes/new">post new dish</a>
  <h1>goodfoodhunting</h1>

  <% dishes.each do |dish| %>

  <div>
    <p><a href="/dishes/<%= dish["id"]%>"><%= dish["name"] %></a></p>
  </div>

  <% end %>

</body>
</html>